    <%= javascript_pack_tag 'index' %>

    <div class="header">
      <div class="container">
        <h1>Monniepoint LSE</h1>
      </div>
    </div>

    <div class="main">
      <div class="content">
        <div class="left-section">
        </div>
        <div class="right-section">
        <%= form_for(@new_entry) do |f| %>
            <%= f.select :state, 
                options_for_select([
                    ['Abia', 'Abia'], 
                    ['Adamawa', 'Adamawa'], 
                    ['Akwa Ibom', 'Akwa Ibom'],
                    ['Anambra', 'Anambra'],
                    ['Bauchi', 'Bauchi'],
                    ['Bayelsa', 'Bayelsa'],
                    ['Benue', 'Benue'],
                    ['Borno', 'Borno'],
                    ['Cross River', 'Cross River'],
                    ['Delta', 'Delta'],
                    ['Ebonyi', 'Ebonyi'],
                    ['Edo', 'Edo'],
                    ['Ekiti', 'Ekiti'],
                    ['Enugu', 'Enugu'],
                    ['Gombe', 'Gombe'],
                    ['Imo', 'Imo'],
                    ['Jigawa', 'Jigawa'],
                    ['Kaduna', 'Kaduna'],
                    ['Kano', 'Kano'],
                    ['Katsina', 'Katsina'],
                    ['Kebbi', 'Kebbi'],
                    ['Kogi', 'Kogi'],
                    ['Kwara', 'Kwara'],
                    ['Lagos', 'Lagos'],
                    ['Nassarawa', 'Nassarawa'],
                    ['Niger', 'Niger'],
                    ['Ogun', 'Ogun'],
                    ['Ondo', 'Ondo'],
                    ['Osun', 'Osun'],
                    ['Oyo', 'Oyo'],
                    ['Plateau', 'Plateau'],
                    ['Rivers', 'Rivers'],
                    ['Sokoto', 'Sokoto'],
                    ['Taraba', 'Taraba'],
                    ['Yobe', 'Yobe'],
                    ['Zamfara', 'Zamfara'],
                    ], 
                    required: true) 
            %>
            <%= f.text_field :lga, class: 'form-control', :placeholder => "Local Govt" %>
            <%= f.text_field :town, class: 'form-control', :placeholder => "Town" %>
            <%= f.text_field :estimated_pop, class: 'form-control', placeholder: "Estimated population" %>
            <%= f.text_field :radio_stations, class: 'form-control', :placeholder => "radio stations" %>
            <%= f.text_field :tv_stations, class: 'form-control', :placeholder => "tv stations" %>
            <%= f.text_field :other_comms, class: 'form-control', :placeholder => "other comms" %>
            <%= f.text_field :popular_unions, class: 'form-control', :placeholder => "popular unions" %>
            <%= f.select :literacy_level, options_for_select([['Level 1', 'Low'], ['Level 2', 'mid'], ['Level 3', 'high']], required: true) %>

            <h2>Agent</h2>
            <div class="location-wrap">
                <div class="location-wrap-content">
                    <%= f.text_field :agent_name, class: 'form-control', :placeholder => "Full name" %>
                    <%= f.text_field :agent_phone, class: 'form-control', :placeholder => "Phone number", required: true %>
                    <%= f.number_field :daily_withdraw_value, class: 'form-control', required: true, placeholder: "Daily Withdrawal value" %>
                    <%= f.number_field :daily_deposit_count, class: 'form-control', required: true, placeholder: "Daily Deposit count" %>
                    <%= f.select :interest_level, options_for_select([['High', 'High'], ['Low', 'Low'], ['Indifferent', 'Indifferent']], required: true) %>
                    <%= f.number_field :no_of_locations, class: 'form-control', required: true, placeholder: "No. of locations"%>
                </div>
                
            </div>

            <h2>Location</h2>
            <div id="location" class="location-wrap">
                <div class="location-wrap-content">
                <%= f.fields_for :locations do |section| %>
                    <%= section.select :location_platform, options_for_select([['Monniepoint', 'monniepoint'], ['FirstMonie', 'firstmonie'], ['Opay', 'opay'], ['Paga', 'paga'], ['Momo', 'momo'], ['Paycentre', 'paycenter'], ['Other', 'other']], required: true) %>
                    <%= section.text_field :location_est, class: 'form-control', :placeholder => "Year of establishment", required: true %>
                    <%= section.text_field :location_geotag, class: 'form-control', :placeholder => "Year of establishment", required: true %>
                <% end %> 
                <div class="location-wrap-btn" onclick="addNewLocationForm()">Add New Location</div>
                </div>
            </div>

            <h2>Alajo(s)</h2>
            <%= f.text_field :alajo_name, class: 'form-control', :placeholder => "Full name" %>
            <%= f.text_field :alajo_phone, class: 'form-control', :placeholder => "Phone number", required: true %>
            <%= f.select :alajo_prime_location, options_for_select([['Monniepoint', 'monniepoint'], ['FirstMonie', 'firstmonie'], ['Opay', 'opay'], ['Paga', 'paga'], ['Momo', 'momo'], ['Paycentre', 'paycenter'], ['Other', 'other']], required: true) %>
            <%= f.number_field :alajo_no_of_locations, class: 'form-control', required: true, placeholder: "No. of locations"%>
            <%= f.text_field :alajo_union, class: 'form-control', :placeholder => "Union", required: true %>
            <%= f.text_field :alajo_population, class: 'form-control', :placeholder => "Population", required: true %>
            <%= f.text_field :alajo_avg_age, class: 'form-control', :placeholder => "Avg age", required: true %>
            <%= f.text_field :alajo_avg_customer, class: 'form-control', :placeholder => "Avg customer", required: true %>
            <%= f.text_field :alajo_avg_daily_contr, class: 'form-control', :placeholder => "Avg dail contr", required: true %>
            <%= f.text_field :alajo_avg_acc_bal, class: 'form-control', :placeholder => "Avg acc bal", required: true %>



           
            <%= f.submit "Submit", :class => "btn"  %>
        <% end %>
        </div>

      </div>
    </div>