    <div class="header">
      <div class="container">
        <h1>Monniepoint LSE</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        
        <!-- Form goes here -->
        <%= form_for(@new_entry) do |f| %>
            <%= f.text_field :email, :placeholder => "email" %>
            <%= f.number_field :estimated_pop %>
            <%= f.text_field :radio_stations, :placeholder => "radio stations" %>
            <%= f.text_field :tv_stations, :placeholder => "tv stations" %>
            <%= f.text_field :other_comms, :placeholder => "other comms" %>
            <%= f.text_field :popular_unions, :placeholder => "popular unions" %>
            <%= f.select :literacy_level, options_for_select([['Level 1', 'Low'], ['Level 2', 'mid'], ['Level 3', 'high']], required: true) %>

            <h2>Agent Location</h2>
            <%= f.text_field :agent_name, :placeholder => "Full name" %>
            <%= f.text_field :agent_phone, :placeholder => "Phone number", required: true %>
            <%= f.number_field(:daily_withdraw_value, required: true, placeholder: "Daily Withdrawal value")%>
            <%= f.number_field :daily_deposit_count, required: true, placeholder: "Daily Deposit count" %>
            <%= f.text_field :interest_level, :placeholder => "Interest level", required: true %>
            <%= f.number_field :no_of_locations, required: true, placeholder: "No. of locations"%>

            <h2>Agent Location</h2>
            <%= f.text_field :location_serial_no, :placeholder => "Full name" %>
              <%= f.select :location_platform, options_for_select([['Monniepoint', 'monniepoint'], ['FirstMonie', 'firstmonie'], ['Opay', 'opay'], ['Paga', 'paga'], ['Momo', 'momo'], ['Paycentre', 'paycenter'], ['Other', 'other']], required: true) %>
              <%= f.text_field :location_est, :placeholder => "Year of establishment", required: true %>
              <%= f.text_field :location_geotag, :placeholder => "Geo tag", required: true %>

            <h2>Alajo(s)</h2>
            <%= f.text_field :alajo_name, :placeholder => "Full name" %>
            <%= f.text_field :alajo_phone, :placeholder => "Phone number", required: true %>
            <%= f.select :alajo_prime_location, options_for_select([['Monniepoint', 'monniepoint'], ['FirstMonie', 'firstmonie'], ['Opay', 'opay'], ['Paga', 'paga'], ['Momo', 'momo'], ['Paycentre', 'paycenter'], ['Other', 'other']], required: true) %>
            <%= f.number_field :alajo_no_of_locations, required: true, placeholder: "No. of locations"%>
            <%= f.text_field :alajo_union, :placeholder => "Union", required: true %>
            <%= f.text_field :alajo_population, :placeholder => "Population", required: true %>
            <%= f.text_field :alajo_avg_age, :placeholder => "Avg age", required: true %>
            <%= f.text_field :alajo_avg_customer, :placeholder => "Avg customer", required: true %>
            <%= f.text_field :alajo_avg_daily_contr, :placeholder => "Avg dail contr", required: true %>
            <%= f.text_field :alajo_avg_acc_bal, :placeholder => "Avg acc bal", required: true %>



           
            <%= f.submit "Submit", :class => "btn"  %>
        <% end %>

        
        <ul class="comments">
          <% @all_entries.each do |p| %>
            <div style="margin-bottom: 15px">
                <h1>Overall</h1>
                <li><span>Email address: </span><%= p.email %></li>
                <li><span>Estimated population: </span><%= p.estimated_pop %></li>
                <li><span>Radio stations: </span><%= p.radio_stations %></li>
                <li><span>Tv Stations: </span><%= p.tv_stations %></li>
                <li><span>Other comms: </span><%= p.other_comms %></li>
                <li><span>Popular unions: </span><%= p.popular_unions %></li>
                <li><span>Literacy level: </span><%= p.literacy_level %></li>
            </div>

            <div style="margin-bottom: 15px">
                <h1>Agent Details</h1>
                <li><span>Agent name: </span><%= p.agent_name %></li>
                <li><span>Agent phone: </span><%= p.agent_phone %></li>
                <li><span>Daily withdraw value: </span><%= p.daily_withdraw_value %></li>
                <li><span>Daily deposit count: </span><%= p.daily_deposit_count %></li>
                <li><span>Interest level`: </span><%= p.interest_level %></li>
                <li><span>Number of locations: </span><%= p.no_of_locations %></li>
            </div>

            <div style="margin-bottom: 15px">
                <h1>Agent Locations</h1>
                <li><span>Location serial no: </span><%= p.location_serial_no %></li>
                <li><span>Location platform: </span><%= p.location_platform %></li>
                <li><span>Location Establishment: </span><%= p.location_est %></li>
                <li><span>Location geotag: </span><%= p.location_geotag %></li>
            </div>

            <div style="margin-bottom: 15px">
                <h1>Alajo</h1>
                <li><span>Full name: </span><%= p.alajo_name %></li>
                <li><span>Phone number: </span><%= p.alajo_phone %></li>
                <li><span>Prime location: </span><%= p.alajo_prime_location %></li>
                <li><span>Number of locations: </span><%= p.alajo_no_of_locations %></li>
                <li><span>Union: </span><%= p.alajo_union %></li>
                <li><span>Population: </span><%= p.alajo_population %></li>
                <li><span>Average age: </span><%= p.alajo_avg_age %></li>
                <li><span>Average customer age: </span><%= p.alajo_avg_customer %></li>
                <li><span>Average daily contribution: </span><%= p.alajo_avg_daily_contr %></li>
                <li><span>Average account balance: </span><%= p.alajo_avg_acc_bal %></li>
            </div>
          <% end %>
        </ul>

      </div>
    </div>